html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10pt;
}

#console {
  position: fixed;
  right: 0;
  padding: 10px;
  top: 0;
  bottom: 0;
  width: 275px;
  border-left: solid 1px black;
  background: white;
}

#console table {margin: 0;}
#console table th {font-weight: bold; text-align: right; vertical-align: top;}

h3 {
  text-align: center;
  margin: 10px 0px 5px;
}

#board {
  image-rendering: pixelated;
}

label {
  display: block;
  margin: 5px 0px;
}

label span {
  display: inline-block;
  width: 150px;
  font-size: 80%;
  font-family:monospace;
}

input[type="range"] {
  width: 100px;
}

canvas#colors {display: none;}
body.mode-all canvas#colors {display: block;}

#vaccinate {display: block; width: 100%; margin: 5px 0;}
#vaccinate:active {background-color: red;}

#shield {
  z-index:999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, .8) 35%,
    rgba(0, 0, 0, .8) 65%,
    rgba(0, 0, 0, 0)
  );
  display: flex;
  align-items: center;
}
#shield > div {
  width: 100%;
  padding: 20px;
  font-size: 30pt;
  text-align: center;
  color: white;
}

#shield.focus {display: none;}
